body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
}

h1 {
  font-size: 2.5em;
}

.files-div {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.class-info {
    align: center;output/
}

.input-files-div {
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  border-radius: 4em;
  width: 100%;

  opacity: 0.8;
  color: whitesmoke;
  background-color: #E5A227;
  align: left;
}

.button-add-file {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  width: 10em;
  color: black;
}

.submit {
  padding: 0.75em 1.25em;
  background-color: #6699ff;
  opacity: 0.9;
  width: 10em;
  color: black;
}

#incorrect-div {
    background-color: #E5A227;;
}

#correct-div {
    background-color: #2eb265;
}

p {
    white-space: pre-wrap;
}

.test-div {
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  float: left;
  width: auto;

  color: whitesmoke;
  align-items: left;
}

.answer {
    width: 100%;
    float: inherit;
    display: inline-block;
}

.none-out {
    color: #919191;
}
div.loading {
    position: fixed;;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-image: url(/loadingimage.gif);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
    /* opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
